[Desktop Entry]
Name=Neovide
Comment=Neovim GUI
Exec=/usr/bin/neovide
Icon=/home/georgesnoe/.local/share/applications/neovide.png
Terminal=false
Type=Application
Categories=Development;Editor;
